{% extends "base.html" %}
{% block title %}
Welcome to Library Management System!
{% endblock %}
{% block content %}
<section class="hero is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="/home"><button type="button" class="btn btn-primary nav-bar-buttons">Home</button></a>
                        <a href="{{ url_for('logout') }}"><button type="button" class="btn btn-primary nav-bar-buttons">Log out</button></a>
                        <a href="{{ url_for('unregister', username=current_user.username) }}"><button type="button" class="btn btn-primary nav-bar-buttons">Unregister</button></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            {% if users %}
                <h1>Users List</h1>
             <div class="cards-list">
                  {% for user in users %}
                    <div class="card card-item" style="width: 18rem;">
                      <div class="card-body">
                          <h5 class="card-text">Username: {{ user['username'] }}</h5>
                          <p class="card-text">Contact: {{ user['contact'] }}</p>
                          <p class="card-text">Email: {{ user['email'] }}</p>
                          <p class="card-text">Address: {{ user['address'] }}</p>
                          <p class="card-text">Role: {{ user['role'] }}</p>
                          {% if user['role'] == 'user' %}
                            <a href="{{ url_for('make_admin', id=user['id']) }}" class="btn btn-primary card-item-button">Make Admin</a>
                            <a href="{{ url_for('remove_user', id=user['id']) }}" class="btn btn-primary card-item-button">Remove User</a>
                          {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                    {% elif not users %}
                        <h1>No Users Registered</h1>
                    {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
