{% extends "base.html" %}
{% block title %}
Request issue of Books
{% endblock %}
{% block content %}
<section class="hero is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="/home"><button type="button" class="btn btn-primary nav-bar-buttons">Home</button></a>
                        <a href="{{ url_for('unregister', username=session['username']) }}"><button type="button" class="btn btn-primary nav-bar-buttons">Unregister</button></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <h1>Issued Book Details</h1>
      {% for data in issued_book_details %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
              <h5 class="card-title">{{ data['book_name'] }}</h5>
              <p class="card-text">Author: {{ data['author'] }}</p>
              <p class="card-text">Rating: {{ data['rating'] }}</p>
              <p class="card-text">Genre: {{ data['genre'] }}</p>
              <p class="card-text">Total Pages: {{ data['total_pages'] }}</p>
              <p class="card-text">Published date: {{ data['published_date'] }}</p>
          </div>
        </div>
        <p>{{ data['book_name'] }} was successfully issued to {{ session.username }}</p>
       {% endfor %}
</section>

{% endblock %}


