{% extends "base.html" %}
{% from "form_macro.html" import render_field %}
{% block title %}
Signup
{% endblock %}
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <form action = "/signup" method = "POST">
        {{ form.csrf_token }}
        {{ form.name }}
        <table>
            {{ render_field(form.username, size=50) }}
            {{ render_field(form.email, size=50) }}
            {{ render_field(form.password, size=50) }}
            {{ render_field(form.contact, size=50) }}
            {{ render_field(form.address, size=50) }}
            <tr class= "submit">
                <td></td>
                <td><button type="submit" class="btn btn-primary nav-bar-buttons">Submit</button></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}