{% extends "base.html" %}
{% from "form_macro.html" import render_field %}
{% block title %}
Signin
{% endblock %}
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign In</h3>
    <div class="box">
       <form action = "/signin" method = "POST">
        <table>
            {{ render_field(form.username, size=50) }}
            {{ render_field(form.password, size=50) }}
            {{ render_field(form.remember_me) }}
            {{ render_field(form.submit) }}
        </table>
    </form>
    </div>
</div>
{% endblock %}