{% extends "base.html" %}
{% block title %}
Update Books
{% endblock %}
{% block content %}
<section class="hero is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="/home" class="navbar-item">
                            Home
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <form  method="POST" action="/updatebook/{{ book_info['book_name'] }}">
                <div class="input-group mb-3">
                    <input
                            type="text"
                            class="form-control"
                            name="book_name"
                            disabled
                            placeholder="Book Name"
                            value="{{ book_info['book_name'] }}"
                            aria-label="Book Name"
                            aria-describedby="basic-addon2">
                </div>
                <div class="input-group mb-3">
                    <input
                            type="text"
                            class="form-control"
                            name="author"
                            placeholder="Author Name"
                            value="{{ book_info['author'] }}"
                            aria-label="Author Name"
                            aria-describedby="basic-addon2">
                </div>
                <div class="input-group mb-3">
                    <input
                            type="text"
                            class="form-control"
                            name="total_pages"
                            placeholder="Total pages"
                            value="{{ book_info['total_pages'] }}"
                            aria-label="Total pages"
                            aria-describedby="basic-addon2">
                </div>
                <div class="input-group mb-3">
                    <input
                            type="text"
                            class="form-control"
                            name="rating"
                            placeholder="Rating"
                            value="{{ book_info['rating'] }}"
                            aria-label="Rating"
                            aria-describedby="basic-addon2">
                </div>
                <div class="input-group mb-3">
                    <input
                            type="text"
                            class="form-control"
                            name="genre"
                            placeholder="Genre"
                            value="{{ book_info['genre'] }}"
                            aria-label="Genre"
                            aria-describedby="basic-addon2">
                </div>
                <div class="input-group mb-3">
                    <input
                            type="text"
                            class="form-control"
                            name="published_date"
                            placeholder="Published date"
                            value="{{ book_info['published_date'] }}"
                            aria-label="Published date"
                            aria-describedby="basic-addon2">
                </div>
                <button type="submit" class="btn btn-primary">Update Book</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}


